body {
    font-family: Roboto, sans-serif;
}

.section-tittle {
    font-family: Pacifico, cursive;
}

.tittle-cabecalho {
    font-family: Mr Dafoe, cursive;
}

.text-colored {
    color: #fff;
}

.text-golden {
    color: #c49949;
}

.navbar {
    background-color: #c49949;
}

.navbar-toggler {
    background-color: #c49949;
}

.navbar-brand,
#cabecalho .nav .nav-link,
.nav-produtos .nav-link.active:hover{
    color: #fff;
}

.nav-produtos .nav-link.active,
#fale-conosco button {
    background-color: #c49949;
    color: #fff;
}

#cabecalho .nav .nav-link.active {
    background-color: #fff;
    color: #c49949;
}

.nav-produtos .nav-link:hover {
    color: #fff;
}

.indicators{
    filter: invert(1);
}

.carousel-item {
    transition: transform 2s ease;
}

#sobre-mim,
#produtos {
    background-color: #000;
}

.price {
    margin: 8px 0 8px 0;
}

.social-links li{
    list-style: none;
    display: inline;
}

.social-links a {
    text-decoration: none;
}

.btn,
.btn:hover {
    background-color: #c49949;
    border-color: #c49949;
}

#produtos p,
#produtos .price,
#sobre-mim p {
    color: #fff;
}

h2 {
    color: #c49949;
}

#fale-conosco label {
    color: #000;
}

@media (max-width: 767px) {
    .nav {
        margin-top: 8px;
    }
    .carousel-item img {
        height: 280px;
    }
}